###########################
# OSAL PROJECT .gitignore
###########################

*.o
out
src/osal/osal_date.cc

###############
# GLOBAL XCODE
###############
*xcuserdata*
*xcworkspacedata*

# macOS spotlight
.DS_Store

##############
src/osal/version.h